html {
    font-size: 62.5%;
    margin 0%;
    padding: 0%;
}
/* html{ font-size: 62.5%}

*{margin: 0; padding: 0;} */

body {
    background-color: rgb(255, 255, 50)    
}
#displayFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;  
    background-color: aliceblue; 
    background-image: url(https://i.etsystatic.com/29404973/r/il/4398e1/3199260157/il_570xN.3199260157_mfws.jpg);
}
.colorlila {
    color: purple;
}
ul :hover{
    list-style: none;
    font-size: 2.5rem;
    text-align: right;
    text-decoration: none;
    font-family: 'Darker Grotesque', sans-serif;            
}
li {
    display: inline-block;    
}
h1 {
    font-family: friends;
    font-size: 3rem;
    text-align: center;
    animation-name: animacion;
    animation-duration: 5s; 
    animation-delay: 2s;
    position: relative;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}
@keyframes animacion {
    0% {color: purple;}
    13% {left: 50px;}
    25% {color: blueviolet; left: 100px;}
    35% {left: 150px}
    50% {color: blue; left: 250px;}
    65% {left: 350px;}
    75% {color: blueviolet; left: 250px; }
    85% {left: 150px;}
    100% {color: purple; left: 50px;}
}
main p {
    font-family: 'Darker Grotesque', sans-serif;
    font-family: 'Darker Grotesque', sans-serif;
    font-size: 2rem;    
}
a {
    font-size: 2rem;
    text-decoration: none;
    font-family: 'Darker Grotesque', sans-serif; 
}
p {
    font-size: 2rem;
    font-family: 'Darker Grotesque', sans-serif; 
}
.fixed{
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    size: 3rem;
}
.displayFlex {
    display: flex;
    padding: 1rem;
    width: 33.3%;
    height: 5%;
    flex-wrap: wrap;      
}
footer{
        font-size: xx-large;        
        border: 1px solid rgb(5, 5, 5);
        background-color: rgb(128, 133, 211);
        width: 100%;
        height: 185px;
        padding: 7px;   
        display: flex;
        flex-direction: row;
        justify-content: space-around;
}
.mainparrafo{   
    margin: 15rem 3rem 4rem 3rem;
}
#sectionparrafo{
    text-decoration: none;
    font-size: 2rem;
    font-family: 'Darker Grotesque', sans-serif;
    display: inline-block;
    margin: 2rem 3rem 4rem 0rem;
}
.iconosfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* episodios */
div p {
    font-family: friends;
    font-size: 2rem;
}
.letra {
    font-family: friends;
    src: url(../fontfriends/Font-Friends-Gregor-Miller.TTF);  
}
table {
    font-family: 'Darker Grotesque', sans-serif;
    font-size: large;  
    margin-bottom: 5rem;  
}
nav a {
    font-size: 2rem;
    background-color: rgb(152, 115, 177);    
    margin: 7px;
    padding-left: 9px; padding-top: 0.5px; padding-bottom: 1px;
    padding-right: 9px;
    border: solid 1px black;    
}
.hoverlist :hover {
    background-color: antiquewhite;
}
.colorparrafos :hover{
    border: 0.4rem solid black;
    background-color: #7375A5;    
}
/* invitados */
div p {
   font-family: 'Darker Grotesque', sans-serif;
}

/* videos */
.flexVideos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 50px;
}
.articleGrid{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: repeat(4, 110px);
    text-align: center;
    margin-top: 100px;
    grid-template-areas: 
    "p1 f1 f2 f3"
    "p1 n1 n2 n3"
    "p1 f4 f5 f6"
    "p1 n4 n5 n6"; 
}
.f1{
    grid-area: f1; 
}
.f2{
    grid-area: f2;
  
}
.f3{
    grid-area: f3;   
}
.f4{
    grid-area: f4;
}
.f5{
    grid-area: f5;
}
.f6{
    grid-area: f6;
}
.n1{
    grid-area: n1;
}
.n2{
    grid-area: n2;
}
.n3{
    grid-area: n3;
}
.n4{
    grid-area: n4;
}
.n5{
    grid-area: n5;
}
.n6{
    grid-area: n6;
}
.p1{
    grid-area: p1;
    margin-left: 2rem;
    align-self: auto;
    margin-top: 0%;
}






/* media queries */


@media screen and (max-width: 480px){
    .articleGrid{
       display: flex;
       flex-wrap: wrap; 
       margin: 1rem;
       padding: 0.5rem;
       justify-content: space-between;
       
    }
    .hoverlist {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    .fixed {
        display: none;
    }
    .imagenesMobile img{
      width: 100%;
    }
    footer {        
        padding: 0%;
    }
    h1 {
        animation-name: animacion;
        animation-duration: 5s; 
        animation-delay: 1s;
        position: relative;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    
    }
    @keyframes animacion {
        0% {color: purple;bottom: 10px}
        25% {color: blueviolet; left: 10px;}
        50% {color: blue; left: 20px;}
        75% {color: blueviolet; top: 10px; }
        100% {color: purple; bottom: 10px;}
    }
    
}

@font-face {
    font-family: friends;
    src: url(../fontfriends/Font-Friends-Gregor-Miller.TTF);
}



font-family: 'Darker Grotesque', sans-serif;




















