<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>friends - invitados</title>
    <link rel="shortcut icon" href="./imagenes/favicon.jpg">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/204efd0b9f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
<header id="displayFlex">    
    <nav><a href="../index.html"><img src="../imagenes/friendslogo.png" alt="logo de friends"></a>    
    </nav>
    
    <nav>   
        <ul>            
            <li><a href="../views/episodios.html">episodios</a></li>
            <li><a href="../views/invitados.html">invitados</a></li>
            <li><a href="../views/videos.html">videos</a></li>
            <li><a href="#pie">contacto</a></li>           
            
        </ul>
       </nav>
</header>       
<div>
    <p><b> George Clooney y Noah Wyle (Temporada 1)</b>
Entre los turnos de Urgencias, George Clooney y Noah Wyle aparecieron en Friends durante dos episodios. Sirvieron como citas para Rachel Green y Monica Geller, naturalmente.
    </p>
  <div class="imagenesMobile"> <img> src="../imagenes/invitados/george clooney noah wylr.jpg" alt="george clooney y noah wyle"></div>
   </div>

<div>
    <p><b>Jon Lovitz (Temporadas 1 y 9)</b> 
El cómico fue invitado en dos ocasiones a lo largo de la serie, primero como invitado a cenar drogado en la primera temporada y después como una horrible cita a ciegas para Rachel en la novena.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/jon lovitz.jpg" alt="jon lovitz"></div>
</div>
<div>
    <p> <b>Helen Hunt (Temporada 1)</b>
El mundo de las comedias de situación colisionó cuando la estrella de Loco por ti, Helen Hunt, apareció como Jamie Buchman en una escena en el Central Perk. Sin embargo, lo que la mayoría de los fans no saben es que Lisa Kudrow solía tener un papel de invitada recurrente en la serie de Helen como la camarera tonta, Ursula (que luego apareció en varias líneas argumentales en Friends como la hermana gemela idéntica de Phoebe Buffay).
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/helen hunt.jpg" alt="helen hunt"></div>
</div>
<div>
    <p><b> Julia Roberts (Temporada 2)</b>
Julia Roberts era una de las mayores estrellas emergentes de Hollywood cuando interpretó como invitada a Susie Moss, una amiga de la infancia de Chandler Bing que decide invitarle a salir para vengarse de él por haberla avergonzado cuando eran más jóvenes.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/julia roberts.jpg" alt="julia roberts"></div>
</div>
<div>
    <p><b> Steve Zahn (Temporada 2)</b>
Tras su debut en Reality Bites, Steve Zahn apareció en la segunda temporada como el marido canadiense de Phoebe, con el que se casó para poder obtener la tarjeta de residencia. "Todavía hay gente, y esto fue un trabajo de cuatro días en mi vida, alrededor del mundo que se acerca y dice 'Ah, Friends'", dijo Steve en Entertainment Weekly's Couchsurfing.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/steve zahn.jpg" alt="steve zahn">
</div>
<div>
    <p><b> Brooke Shields (Temporada 2)</b>
La actriz y modelo apareció en el episodio "The One After the Superbowl" como una superfan acosadora de la serie Days of our Lives, a la que le cuesta separar a Joey Tribbiani de su personaje, el Dr. Drake Ramoray.</p>
<div class="imagenesMobile"><img src="../imagenes/invitados/brooke shields.jpg" alt="brook shields"></div>
</div>
<div>
    <p> <b> Adam Goldberg (Temporada 2)</b>
Adam Goldberg acababa de empezar su carrera cuando consiguió el papel de Eddie Menuek, el compañero de piso que sustituye a Chandler cuando Joey se muda. Goldberg apareció en películas como Salvar al soldado Ryan y Una mente maravillosa, así como en series de televisión como El séquito y Joey, la serie de Matt LeBlanc sobre Friends.
    </p>
  <div class="imagenesMobile">  <img src="../imagenes/invitados/adam goldberg.jpg" alt="adam goldberg"></div>
</div>
<div>
    <p> <b> Jean-Claude Van Damme (Temporada 2)</b>
Haciendo de sí mismo en la segunda temporada, el papel de Jean-Claude Van Damme implica que es reconocido por Mónica durante el rodaje de una película, lo que hace que ambos tengan una cita, como es de esperar.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/jean claude van d.jpg" alt="jean claude van Damme"></div>
</div>
<div>
    <p> <b>Charlie Sheen (Temporada 2)</b>
Cuando Phoebe contrae la varicela justo cuando su antiguo amor, Ryan, está a punto de llegar a la ciudad, se produce un adorable y simpático episodio de Friends with Charlie Sheen.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/charlie sheen.jpg" alt="charlie sheen"></div>
</div>
<div>
    <p><b> Christine Taylor (Temporada 3)</b>
A lo largo de la historia entre Ross y Rachel, Christine Taylor hizo una interferencia como la novia de Ross, Bonnie.</p>
<div class="imagenesMobile"><img src="../imagenes/invitados/christine taylor.jpg" alt="christine taylor"></div>
</div>
<div>
    <p><b>Ben Stiller (Temporada 3)</b>
Casualmente, Ben Stiller apareció en la serie durante la misma temporada que su futura esposa, Christine Taylor. El actor y cómico apareció como Tommy, la cita de Rachel que tiene problemas de control de la ira.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/ben stiler.jpg" alt="ben stiler">
   <div class="imagenesMobile"> <img src="../imagenes/invitados/ben stiler.jpg" alt="ben stiler"></div>
</div>
<div>
    <p><b>Isabella Rossellini (Temporada 3)</b>
La actriz y cineasta italiana, Isabella Rossellini, visitó el Central Perk como ella misma justo después de que Ross decidiera que es "demasiado internacional" para seguir en su lista de pases de celebridades. El divertidísimo cameo comienza con él invitando a Isabella a salir, para terminar con ella descubriendo que la eliminó de su lista por Winona Ryder.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/isabella rosellini.jpg" alt="isabella rossellina"></div>
</div>
<div>
    <p><b>Billy Crystal y Robin Williams (Temporada 3)</b>
La casualidad quiso que Billy Crystal y Robin Williams se encontraran en el mismo terreno que Friends cuando el reparto rodaba "The One with the Ultimate Fighting Champion" en la tercera temporada. Los cómicos decidieron pasar a tomar un café, durante el cual se desarrolla una conversación improvisada que deja al elenco y al público con los pelos de punta.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/billy robin williams.jpg" alt="billy crystal y robie williams"></div>
</div>
<div>
    <p><b>Jon Favreau (Temporada 3)</b>
Jon Favreau apareció a lo largo de la tercera temporada como estrella invitada recurrente y como el interés amoroso de Mónica, Pete. El actor pasó a producir y protagonizar películas como Chef, Iron Man y Los Vengadores.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/jon favreau.jpg" alt="jon favreau"></div>
</div>
<div>
    <p><b>Paget Brewster (Temporada 4)</b>
Cuando Paget Brewster se unió a Friends para un arco argumental de varios episodios como Kathy, la novia de Joey (y Chandler), era bastante nueva en Hollywood. Desde entonces, la actriz ha participado en series de televisión como Mentes criminales, Community, Ley y orden: Unidad de Víctimas Especiales y Modern Family.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/paget brewster.jpg" alt="paget Brewster"></div>
</div>
<div>
    <p><b> Charlton Heston (Temporada 4) </b>
Charlton Heston pudo hacer gala de su característica actuación de tipo duro cuando apareció como él mismo en la cuarta temporada de la serie junto a Matt LeBlanc.        
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/charlton heston.jpg" alt="charlton Heston"></div>
</div>
<div>
    <p><b>Tate Donovan (Temporada 4) </b>
Tate Donovan salió con Jennifer Aniston en la vida real durante las primeras temporadas de la exitosa serie, pero cuando el actor apareció en la cuarta temporada como estrella invitada recurrente (y enamorada de Rachel Green) la pareja ya había cancelado su compromiso y se separó. "Fue horrible... Recuerdo que volví a mi camerino y lloré", dijo Tate a HuffPost Live.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/tate donovan.jpg" alt="tate donovan"></div>
</div>
<div>
    <p> <b>Michael Vartan (Temporada 4)</b>
Antes de su papel en Nunca me han besado, Michael Vartan actuó como invitado en la serie en el papel del Dr. Tim Burke, el hijo del ex novio de Monica, con el que empieza a salir.
    </p>
   <div class="imagenesMobile"><img src="../imagenes/invitados/michael vartan.jpg" alt="michael vartan"></div> 
</div>
<div>
    <p><b>Sarah Ferguson (Temporada 4)</b>
La serie fue un éxito real cuando todo el reparto viajó a Londres para las nupcias de Ross y Emily, hasta el punto de que la duquesa de York, Sarah Ferguson, hizo un cameo en una escena con Matt LeBlanc.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/sarah ferguson.jpg" alt="sarah ferguson"></div>
</div>
<div>
    <p> <b> Hugh Laurie (Temporada 4)</b>
Cuando Rachel decide volar al otro lado del charco para asistir a la boda de Ross, comparte asiento con el actor británico Hugh Laurie, que no está muy contento de estar sentado a su lado.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/hugh laurie.jpg" alt="hugh laurie"></div>
</div>
<div>
    <p><b>Reese Witherspoon (Temporada 6)</b> 
        La hermana pequeña y mimada de Rachel, Jill (interpretada por Reese Witherspoon) la visita en la sexta temporada. La joven actriz, cuya carrera estaba en auge tras Crueles intenciones y American Psycho, apareció durante dos episodios, en los que tuvo una cita con Ross.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/reese whiterspoon.jpg" alt="reese whiterspoon"></div>
</div>
<div>
    <p><b>Cole Sprouse (Temporadas 6, 7, y 8)</b>
Comoactor infantil, Cole Sprouse había interpretado los mismos papeles que su gemelo idéntico Dylan desde que tenía ocho meses. Pero consiguió su primer papel en solitario como Ben, el hijo de Ross Geller, enFriends. Sprouse interpretó el papel de la sexta a la octava temporada, durante la cual se enamoró de su compañera Jennifer Aniston.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/cole sprouse.jpg" alt="cole sprouse"></div>
</div>
<div>
    <p><b> Elle Macpherson (Temporada 6)</b>
Una de las relaciones más serias de Joey consiste en enamorarse perdidamente de su compañera de piso, Janine, interpretada por la modelo australiana Elle Macpherson.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/elle mcphearson.jpg" alt="elle mcphearson"></div>
</div>
<div>
    <p><b> Bruce Willis (Temporada 6)</b>
Bruce Willis se unió a la serie durante algunos episodios como Paul, el novio de Rachel, que también resulta ser el padre de la novia de 20 años de Ross.
    </p>
  <div class="imagenesMobile"> <img src="../imagenes/invitados/bruce willis.jpg" alt="bruce Willis"></div>
</div>
<div>
    <p><b>Susan Sarandon (Temporada 7)</b>
Susan Sarandon realizó una dramática interpretación de la estrella de telenovelas Jessica Lockhart en la séptima temporada de la serie junto a Joey.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/susan sarandon.jpg" alt="susan Sarandon"></div>
</div>
<div>
    <p><b>Winona Ryder (Temporada 7)</b>
        Winona Ryder fue una de las actrices más importantes de finales de los 90 y principios de los 2000 y apareció en la serie durante un episodio como una de las hermanas de la hermandad de Rachel.
    </p>
   <div class="imagenesMobile"><img src="../imagenes/invitados/winona ryder.jpg" alt="winona ryder"></div>
</div>
<div>
    <p><b> Jason Alexander (Temporada 7)</b>
La estrella de Seinfeld, Jason Alexander, aparece en la séptima temporada en una escena con Lisa Kudrow en el papel de Earl, un director de oficina con tendencias suicidas con el que Phoebe Buffay se cruza e intenta ayudar.
    </p>
   <div class="imagenesMobile"><img src="../imagenes/invitados/jason alexander.jpg" alt="jason alexander"></div>
</div>
<div>
    <p><b>Kristin Davis (Temporada 7)</b>
Sexo en Nueva York estaba en su punto álgido de popularidad cuando Kristin Davis participó como invitada en la sitcom como el interés amoroso de Joey, pero eso no impidió que la actriz se viera afectada por los nervios.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/kristin davis.jpg" alt="kristin davis"></div>
</div>
<div>
    <p><b>Brad Pitt (Temporada 8)</b>
Jennifer Aniston actuó por primera vez junto a su entonces marido cuando éste apareció en el episodio de Acción de Gracias de Friends en la octava temporada. El actor interpretó a un antiguo compañero de clase con sobrepeso de Mónica, Ross y Rachel -y fundador del "Club Odio a Rachel".
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/brad pitt.jpg" alt="brad pitt"></div>
</div>
<div>
    <p><b>Alec Baldwin (Temporada 8)</b>
AlecBaldwin apareció en dos episodios de la serie en el papel de Parker, el novio demasiado entusiasta de Pheobecuya fascinación por Massapequair irrita a todos.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/alec baldwin.jpg" alt="alec baldwin"></div>
</div>
<div>
    <p><b> Sean Penn (Temporada 8)</b>
Sean Penn fue invitado en varios episodios como el dulce y crédulo prometido de la hermana gemela de Phoebe, Ursula.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/sean penn.jpg" alt="sean penn"></div>
</div>
<div>
    <p><b> Aisha Tyler (Temporada 9)</b>
Aisha Tyler comenzó en la serie como la inteligente novia paleontóloga de Joey, Charlie. Pero al final de su temporada 9 en la serie, se había pasado al más compatible Ross.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/aisha tyler.jpg" alt="aisha tyler"></div>
</div>
<div>
    <p><b>Hank Azaria (Temporadas 1, 7, y 9)</b>
Hank Azaria apareció por primera vez en Friends como David, el novio científico de Phoebe. En la serie, se muda a Minsk, Rusia, en la primera temporada, pero su personaje sigue apareciendo a lo largo de la serie.
    </p>
  <div class="imagenesMobile">  <img src="../imagenes/invitados/hank azaria.jpg" alt="hank azaria"></div>
</div>
<div>
    <p><b> Dermot Mulroney (Temporada 9)</b>
Más conocido por su papel en La boda de mi mejor amigo, Dermot Mulroney interpretó al compañero de trabajo de Rachel, convertido en su amor, durante tres episodios de la novena temporada. La estrella compartió recientemente cómo empezó a ser reconocido por los fans más jóvenes después de que Netflix comenzara a transmitir la serie: "De repente me gritaban por la calle: '¡Hey Gavin!' y yo decía: '¿Quién coño es Gavin?'", dijo a Wired.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/dermot mulroney.jpg" alt="dermot mulroney"></div>
</div>
<div>
    <p><b> Christina Applegate (Temporadas 9 y 10)</b>
Christina Applegate apareció en dos temporadas de la serie como otra de las hermanas de Rachel, Amy Green. La interpretación de la actriz fue tan buena que no sólo le valió el estatus de favorita de los fans, sino también un Emmy a la Actriz Invitada Sobresaliente en una Comedia en 2003.
    </p>
   <div class="imagenesMobile"> <img src="../imagenes/invitados/chistina applegate.jpg" alt="christina applegate"></div>
</div>
<div>
    <p><b> Paul Rudd (Temporadas 9 y 10)</b>
Paul Rudd apareció por primera vez en la serie como el novio pianista de Phoebe, Mike Hannigan, en la temporada 9. Tras una breve ruptura, Paul vuelve en la temporada 10 y ambos se casan en la última temporada.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/paul rudd.jpg" alt="paul rudd "></div>
</div>
<div>
    <p><b>Dakota Fanning (Temporada 10)</b>
La actriz infantil era popular por sus papeles en películas como El gato, Niñera a la fuerza y Sweet Home Alabama cuando apareció en Friends en su última temporada como una niña que se hace amiga de Joey en su propia casa.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/dakota fanning.jpg" alt="dakota fanning"></div>
</div>
<div>
    <p><b> Greg Kinnear (Temporada 10)</b>
Greg Kinnear apareció en la serie durante un episodio como Benjamin Hobart, el ex novio de la estrella invitada recurrente, Aisha Tyler. En el episodio "The One with Ross' Grant", el actor entra en escena y complica las cosas entre Ross y Charlie.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/greg kinnear.jpg" alt="greg kinnear"></div>
</div>
<div>
    <p><b> Danny DeVito (Temporada 10)</b>
Ningún fan de Friends olvidará jamás uno de los episodios finales, llamado "The One Where the Stripper Cries". Danny DeVito actuó como invitado como un inadecuado stripper para la despedida de soltera de Phoebe, y digamos que es muy memorable.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/danny devito.jpg" alt="danny devito"></div>
</div>
<div>
    <p> <b>Anna Faris (Temporada 10)</b>
Tras debutar en la comedia interpretando a Cindy en Scary Movie, Anna Faris apareció a lo largo de la décima temporada de Friends como la madre biológica de los gemelos adoptados por Mónica y Chandler.
    </p>
    <div class="imagenesMobile"><img src="../imagenes/invitados/anna faris.jpg" alt="anna faris"></div>
</div>
<div class="fixed">
    <i class="fa-solid fa-arrow-up-long">
    <a href="../views/invitados.html">ir arriba</a></i>
</div>








       <footer id="pie">
        <a href="https://twitter.com/FriendsTV"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com/friends/"><i class="fa-brands fa-instagram"></i></a>
     
    </footer>
</body>
</html>