<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>friends - joey tribbiani</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/204efd0b9f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header id="displayFlex">
        <img src="../imagenes/friendslogo.png" alt="logo que dice friends">
        <nav>   
            <ul>        
            <li><a href="../views/episodios.html">episodios</a></li>
            <li><a href="../views/invitados.html">invitados</a></li>
            <li><a href="../views/videos.html">videos</a></li>
            <li><a href="#pie">contacto</a></li>        
            </ul>
        </nav>
</header>
<main>
    <p> Joseph "Joey" Francis Tribbiani, Jr. es un personaje ficticio de la popular serie de televisión Friends (1994-2004), y el personaje titular en el spin-off Joey (2004-2006), y es interpretado por Matt LeBlanc. La voz del personaje es interpretada en doblajes por Benjamín Rivera, después por Jorge Roig Junior y Luis Alfonzo Mendoza.
    
    Joey viene de una familia italo-americano de 8 hijos, de los cuales él es el único varón. Joey es natural, y, presumido, nacido en Queens. Cuando era niño, era muy propenso a los accidentes. Él también tenía un amigo imaginario, Maurice, que era un vaquero del espacio. 

    Joey, es un estereotipo de actor: con una gran cuerpo sensual, bajo nivel de educación y constantemente en busca de trabajo. Ofició en las bodas de Monica y Chandler y la de Phoebe y Mike. Se revela en "El de después de I Do", que Joey tiene una altura de siete pies, algo de lo que él mantenía en secreto. También tiene un pingüino peluche llamado Huggsy (su "amigo pingüino hora de dormir"), que le gusta mucho, y no le gusta compartir.
    El personaje de Joey es conocido por su simpleza, problemas con la comprensión crítica negativa de su actuación, y el amor por los alimentos. En particular, ama los bocadillos y las pizzas, le encanta el "Joey Especial, dos pizzas.

    Es algo así como un idiota sabio en cuestiones de romance, lo que generó su pegajosa expresión popular, y la línea de seducción "How you doin''. Su película favorita es Die Hard y la serie que más suele mirar es Baywatch. 
    El personaje de Joey deambula de mujer en mujer, pero a la única persona de la que él se pudo enamorar, era su amiga Rachel, que en la novena temporada tienen un minúsculo romance el cual de deshace como empezó. A lo largo de la serie lo vamos a ver con infinidad de mujeres o haciendo referencias a ellas, es un verdadero galán, excepto que nunca las vuelve a llamar. 
    Realmente se lo ve como un buen amigo, ya que en el episodio que Phoebe dice que está embarazada (ocultando que en realidad la emrazada es Rachel), Joey no lo duda dos veces y le propone a esta su mano en matrimonio, y así no tenga que afrontar un embarazo y la crianza como madre soltera. Cuando él se entera que la que estaba embarazada era Rachel, también le propone matrimonio por los mismos motivos.
    Otro de los momentos de Joey demostrando ser uno de los mejores amigos, es cuando nota que se está enamorando de Rachel pero jura que no va a hacer nada, debido a que su amigo Ross había tenido un romance con ella.

    Al final de la serie, es el único de los 6 amigos que termina sin pareja, dando así una continuidad al spinn off de Joey.</p>
</main>

<footer id="pie">
    <a href="https://twitter.com/FriendsTV"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.instagram.com/friends/"><i class="fa-brands fa-instagram"></i></a>
 
</footer>
    
</body>
</html>