<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>friends - monica geller</title>
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/204efd0b9f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header id="displayFlex">
        <img src="../imagenes/friendslogo.png" alt="logo que dice friends">
        <nav>   
            <ul>        
            <li><a href="../views/episodios.html">episodios</a></li>
            <li><a href="../views/invitados.html">invitados</a></li>
            <li><a href="../views/videos.html">videos</a></li>
            <li><a href="#pie">contacto</a></li>        
            </ul>
        </nav>
</header>
<main>
    <p> Mónica Elizabeth Geller es un personaje ficticio de la popular serie Friends, interpretada por la actriz y modelo Courteney Cox y doblada por Yolanda Vidal.
        A pesar de su carácter extremadamente competitivo y su obsesión con la limpieza, es un personaje carismático y espontáneo, la más centrada del grupo que está dispuesta en ayudar a sus amigos y no deja de ser una persona alegre y de buen corazón.
        Nacio entre la unión de Jack y Juddy Geller en Long Island, Monica vivió con una obesidad casi extrema y en la soledad, ya que sus padres querían mas a su hermano Ross que a ella. En la secundaria conoce a la que se convertiria en su mejor amiga de por vida, Rachel Green, con quien posteriormente compartirá departamento. Siendo ya en su vida adulta una mujer delgada y atractiva, asegura no tener problemas de carácter "sentimental" (aunque en la primera temporada apenas y se le conoce un par de "novios").

        Cheff de profesión, trabaja en un principio en restaurantes pequeños, en uno de ellos hasta debe usar disfraz y patines para trabajar, hasta llegar a la cima de su carrera en un restaurante de gran categoría en New York.

        Su vida amorosa es difícil ya que tiene una obsesión con casarse y tener hijos, esta obsesión es la que termina con su relación con el Dr. Richard Burke (Tom Selleck), quien es 20 años mayor que ella y amigo íntimo de sus padres. Posteriormente, triste y agobiada por la idea de morir sola y por la proxima boda de su hermano en Inglaterra, tiene una "aventura secreta" con Chandler, la cual se convierte en amor verdadero y después en un buen matrimonio. Ya casados, sufren frustracion por no poder tener hijos y deciden adoptar, para su sorpresa, tuvieron mellizos (Jack y Erika, en conmemoracion al padre de Mónica y a la madre biológica de los gemelos respectivamente).
        En el departamento de Monica es donde la mayoría de la serie tiene lugar, ya que todos los amigos tienen una llave del mismo, poque todos en algún momento vivieron allí. Además la misma en su obsesión de ser querida y la mejor en todo, es la que organiza siempre las cenas y fiestas del grupo. 
        Finalmente deja el departamento donde se desarrolla la historia para tener una vida tranquila en los suburvios con su esposo y sus 2 hijos. En la última escena de la serie, todos devuelven sus llaves y la puerta del departamento se cierra tras ellos.</p></main>

    <footer id="pie">
        <a href="https://twitter.com/FriendsTV"><i class="fa-brands fa-twitter"></i></a>
        <a href="https://www.instagram.com/friends/"><i class="fa-brands fa-instagram"></i></a>
     
    </footer>
    
</body>
</html>