<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>friends - ross geller</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/204efd0b9f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
    <header id="displayFlex">
      <a href="../index.html"><img src="../imagenes/friendslogo.png" alt="logo que dice friends"></a>
        <nav>   
            <ul>        
            <li><a href="../views/episodios.html">episodios</a></li>
            <li><a href="../views/invitados.html">invitados</a></li>
            <li><a href="../views/videos.html">videos</a></li>
            <li><a href="#pie">contacto</a></li>        
            </ul>
        </nav>
</header>
<main>
    <p>Ross Geller es uno de los personajes principales de la serie Friends, interpretado por David Schwimmer. Doblado por Jose Carlos Moreno y Mario Castaneda.

        Ross fue el primer hijo del matrimonio de Jack y Juddy Geller, de ascendencia judía. Su concepción fue una sorpresa para la familia, ya que pensaban que Judy era infértil. Por esta razón, sus padres lo querían más a él que a su hermana, Mónica.
        
        En la escuela conoció a la amiga de Monica, Rachel Green, de quien se enamoró locamente. Durante la serie dan a conocer algunos recuerdos sobre su pasado, unos divertidos y otros algo drámaticos.  Recordemos que cuando Rachel, supuestamente había sido plantada en su fiesta de fin de curso, este estaba dispuesto e ilusionado (también impulsado por sus padres) a acompañarla, pero más tarde llegó Chip, la pareja de Rachel y está se fue junto a Mónica sin saber el enorme gesto que Ross le iba a hacer en ese momento. Esto Rachel lo supo porque los padres de Ross y Mónica lo tenían grabado y gracias a esto empezaron a salir en serio frente a sus amigos.
        
        Ross Geller tiene un doctorado en paleontología, con esto da a notar que tiene una fascinación por los dinosaurios y gracias a este nivel académico da clases en la universidad.
        
        Se ha casado tres veces: Con Carol Willick con la cual tiene un hijo Ben, pero este se entera de que su mujer es lesbiana y se divorcian. Después se casaría con Emily Waltham con la cual tuvo una muy buena relación e incluso estuvo a punto de irse a vivir a Londres con ella, sin embargo en la boda dijo: Te tomo a ti, Rachel (para mencionar que se iban a casar); aunque se casaron, está no le habló durante un tiempo y finalmente acabaría divorciado por segunda vez. Por último, se casó con Rachel Green en un momento de borrachera en Las Vegas cuando fueron a visitar a su amigo Joey Tribianni, para felicitarlo por su "Gran oportunidad" de ser protagonista en una película a la que se le acabó el presupuesto.      
        
             
        Aparte de su afición por casarse, esta es hecho de burla por la gran mayoría de los personajes, en especial por el sarcástico Chandler Bing. Tuvo varias novias que acabaron en desastre como Julie, a la cual deja cuando se entera de que el amor de toda su vida (Rachel Green) está interesada por él y a Mona que dejó a Ross porque en ese momento estaba viviendo con su ex esposa embarazada (Rachel, nuevamente) y porque se enteró de que había estado casado tres veces.
        
        En las últimas temporadas sale con una guapa paleontóloga, Charlie Wheeler (que primero salió con Joey) quien estuvo un tiempo con Ross y era la única a la que le fascinaba sus discursos, aunque lo deja cuando se vuelve a ver con su ex novio. A Ross no le afecta demasiado y luego lo podremos ver como siempre en Central Perk con sus amigos o en el parque con Rachel y Emma su hija pequeña, intentando superar su miedo a las arañas.
        Finalmente Ross, le dice a Rachel lo que siente y acabarán la serie juntos, con su pequeña hija.</p>
</main>
<section class="row justify-content-center">
    <div id="carouselExampleControls" class="carousel slide col-9" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../imagenes/momentos de ross/1rossyrachel.jpg" class="d-block w-100" alt="con rachel">
        </div>
        <div class="carousel-item">
          <img src="../imagenes/momentos de ross/2dancing.jpg" class="d-block w-100" alt="bailando">
        </div>
        <div class="carousel-item">
          <img src="../imagenes/momentos de ross/4drogado.jpeg" class="d-block w-100" alt="medicado">
        </div>
        <div class="carousel-item">
          <img src="../imagenes/momentos de ross/5teeth.jpeg" class="d-block w-100" alt="con dientes blancos">
        </div>
        <div class="carousel-item">
          <img src="../imagenes/momentos de ross/6flashbackpiano.jpg" class="d-block w-100" alt="flashback">
        </div>
        <div class="carousel-item">
          <img src="../imagenes/momentos de ross/7flashback.jpeg" class="d-block w-100" alt="de joven">
        </div>
        <div class="carousel-item">
          <img src="../imagenes/momentos de ross/9armadillo.jpg" class="d-block w-100" alt="disfraz de armadillo">
        </div>
        <div class="carousel-item">
          <img src="../imagenes/momentos de ross/10imfine.jpeg" class="d-block w-100" alt="i'm fine">
        </div>
        <div class="carousel-item">
          <img src="../imagenes/momentos de ross/11imfine2.jpg" class="d-block w-100" alt="grita">
        </div>
        <div class="carousel-item">
          <img src="../imagenes/momentos de ross/12joven.jpg" class="d-block w-100" alt="flashback">
        </div>
        <div class="carousel-item">
          <img src="../imagenes/momentos de ross/13lasvegas.jpg" class="d-block w-100" alt="las vegas">
        </div>
        <div class="carousel-item">
          <img src="../imagenes/momentos de ross/14leatherpants.jpg" class="d-block w-100" alt="patalones de cuero">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
<footer id="pie">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3023.361318509622!2d-74.00621316722717!3d40.7320743859702!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c259933fa0e299%3A0x5441255e174d2eb9!2sFriends%20Apartment!5e0!3m2!1ses!2sar!4v1657909919492!5m2!1ses!2sar" width="300" height="175" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
<div class="iconosfooter">
        <a href="https://twitter.com/FriendsTV"><i class="fa-brands fa-twitter"></i></a>
    <a href="https://www.instagram.com/friends/"><i class="fa-brands fa-instagram"></i></a>
</div>
 
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
</body>
</html>