<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>friends</title>
    <link rel="shortcut icon" href="./imagenes/favicon.jpg">
    <link rel="stylesheet" href="../css/style.css">
    <script src="https://kit.fontawesome.com/204efd0b9f.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;500&display=swap" rel="stylesheet">
</head>
<body>
<header id="displayFlex">    
    <nav><a href="../index.html"><img src="../imagenes/friendslogo.png" alt="logo de friends"></a>    
    </nav>
    
    <nav>   
        <ul>            
            <li><a href="../views/episodios.html">episodios</a></li>
            <li><a href="../views/invitados.html">invitados</a></li>
            <li><a href="../views/videos.html">videos</a></li>
            <li><a href="#pie">contacto</a></li>   
        </ul>
    </nav>
</header>
<div class="flexVideos">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Ts38ndhkQpc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/Yg9L_l_TvdU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/OlN1zwK2NsQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/aOad_APrwhc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/3gVs7W8COGM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/JWxjtr8VqCQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/bgmHUimMVE0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/c-xrQ_g9K2w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/4VuqQ4TS8OY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/sX7XBzAFfcQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/ohFBCDfyzgU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/KkHvLZAhHd4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/GQWPpRBgkXw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/g0z18rM68D8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>


    <iframe width="560" height="315" src="https://www.youtube.com/embed/MnxPInyZ-Uc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div> 

    <footer id="pie">
      <a href="https://twitter.com/FriendsTV"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://www.instagram.com/friends/"><i class="fa-brands fa-instagram"></i></a>
     
    </footer>
</body>
</html>